@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Tahu";
  font-style: normal;
  src: /* Modern Browsers */ url("/src/assets/fonts/tahu/Tahu.ttf")
    format("truetype");
}
